# next.js build output
/next-server/.next

# dotenv environment variables file (build for Zeit Now)
# .env
# .env.build

# Dependency directories
/next-server/node_modules/

# Logs
/next-server/npm-debug.log*
/next-server/yarn-debug.log*
/next-server/yarn-error.log*
/next-server/.serverless
/next-server/.serverless_nextjs

# Sanity.io Api

/sanity_api/node_modules/
/sanity_api/npm-debug.log
/sanity_api/yarn-debug.log
/sanity_api/yarn_erro.log
/sanity_api/.env
/sanity_api/.env.build

/redis/node_modules
/redis/npm-debug.log
/redis/yarn-debug.log
/redis/yarn_erro.log
/redis/.env
/redis/.env.build

/node_modules