# next.js build output
.next

# dotenv environment variables file (build for Zeit Now)
.env
.env.build

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sanity.io Api

/sanity_api/node_modules/
/sanity_api/npm-debug.log
/sanity_api/yarn-debug.log
/sanity_api/yarn_erro.log
/sanity_api/.env
/sanity_api/.env.build